<a href="http://127.0.0.1:8000/accounts/">Home </a><br><a href="http://127.0.0.1:8000/logout/">logout</a>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moodle Prof Homepage</title>
</head>
<body>
<ul>
{% for course in all_courses%}
    <li>{{course.course_name}} - {{course.course_code}}</li>
{%endfor%}
</ul><br>

<a href="/accounts/moodle_prof/course_add/">Add Course</a><br>
<a href="/accounts/moodle_prof/message_add/">Add Message</a><br>
<a href="/accounts/moodle_prof/course_drop">Delete Course</a>

</body>
</html>